
body {
    margin: 0;
    padding: 0;
    background-color: #292828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

#logo {
    width: 100px;
    position: absolute;
}

.circle-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle {
    position: absolute;
    border: 2px solid #3498DB;
    border-radius: 50%;
    animation: pulse 3s infinite ease-in-out;
    opacity: 0.8;
}

.floating-circle-error {
    position: absolute;
    border: 2px solid rgb(194, 16, 16);
    border-radius: 50%;
    animation: pulse 3s infinite ease-in-out;
    opacity: 0.8;
}

.circle:nth-child(1) {
    width: 100px;
    height: 100px;
    animation-delay: 0s;
}

.circle:nth-child(2) {
    width: 200px;
    height: 200px;
    animation-delay: 1s;
}

.circle:nth-child(3) {
    width: 300px;
    height: 300px;
    animation-delay: 2s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.4;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

.floating-box-error {
    background: #761f1f61 !important;
}

@keyframes floatText {
    0% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
    50% {
        transform: translate(50px, -50px);
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
        opacity: 0.8;
    }
}

.floating-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    opacity: 0.8;
    animation: floatIcon 6s infinite ease-in-out;
}

.box {
    background: #3498db00;
    border: 2px solid #fff;
    backdrop-filter: blur(1px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 10px;

    &


    #forget {
        font-size: 11px;
        margin: 0px;
        position: relative;
        left: 70px;
        cursor: pointer;
        color: #3498DB ;
        font-weight: 50;
       
    }

    #connxion {
        height: 30px;
        width: 150px;
        margin-top: 20px;
        background-color: #3498DB ;
        border-radius: 10px;
        border: 1px solid #fff;
        cursor: pointer;
    }

    #singup, #login {
        margin-left: 10px;
        color: #107dc6 ;
    }

    #error2 {
        color: red;
        font-size: 12px;
        position: absolute;
        top: 270px;
        display: none;
    }
}

.box2 {
    background: #3498db00;
    border: 2px solid #fff;
    backdrop-filter: blur(1px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 460px;
    border-radius: 10px;
    display: none;

    &

    #inc {
        height: 30px;
        width: 150px;
        margin-top: 20px;
        background-color: #3498DB ;
        border-radius: 10px;
        border: 1px solid #fff;
    }

    #singup, #login {
        margin-left: 10px;
        color: #107dc6 ;
    }

    #error {
        color: red;
        font-size: 12px;
        position: absolute;
        top: 400px;
        display: none;
    }
}


.box input {
    height: 30px;
    width: 250px;
    margin: 10px;
    border-radius: 11px;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;;
}

.box div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    position: relative;
    top: 100px;
}

#tit, #tit-inc {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 10px;
}

.box2 input {
    height: 30px;
    width: 250px;
    margin: 10px;
    border-radius: 11px;
    padding-left: 6px;
    padding-right: 6px;
}

.box2 div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    position: relative;
    top: 20px;
}

.overview {
    background: #fff;
    position: absolute;
    z-index: 1000;
    border-radius: 11px;
    font-size: 13px;
    align-items: center;
    display: none; 
    flex-direction: column;
    width: 300px;
    bottom: -50px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.overview.active {
    display: flex; 
    animation: mesg 0.5s ease-in-out forwards;
}

.overview p {
    font-size: 13px;
    padding: 10px;
    color: #333;
}

@keyframes mesg {
    0% {
        bottom: -50px;
        opacity: 0;
    }
    100% {
        bottom: 20px;
        opacity: 1;
    }
}
